<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <H1>{{> header}}</H1>
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
