<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>We'll be rigth back</h1>
    <p>The site is currently beeing upadted</p>

  </body>
</html>
